[Unit]
Description=Restart CPU temp to MQTT
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u technical_task.py
WorkingDirectory=/home/pi/Desktop/Sterea_Andrei_Mihai
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
